In [3]:
import numpy as np
import pandas as pd

import sequence_tools

## Perform different encoding of protein sequence

### Method 1, Directly encode sequence
* **One-Hot Encoding** (using tensorflow.keras.preprocessing)

  sequence_tools.get_one_hot_encoding(file, ID_col)

##### AD ChEMBL_Datasets

In [ ]:
file = "AD targets_ID.csv"
path = "/ccs/proj/gen243/nina23bom/Target_Information/"
targets = pd.read_csv(path+file)
targets['sequence'] = [sequence_tools.Get_Sequence(x, path) for x in targets['Uniprot_ID']]

In [ ]:
targets.head(2)

In [ ]:
targets.to_csv(path+file,index=False)

In [7]:
encoded_df = sequence_tools.get_one_hot_encoding(targets, ID_col="Uniprot_ID")

The max sequence length is 1212
Total of 29 sequences are encoded, with a length of 25452

2023-08-10 13:54:13.047130: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1639] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 14617 MB memory:  -> device: 0, name: Tesla V100-PCIE-16GB, pci bus id: 0000:3b:00.0, compute capability: 7.0

In [8]:
encoded_df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,25442,25443,25444,25445,25446,25447,25448,25449,25450,25451
P50406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Q13639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
encoded_df.to_csv(path+"one-hot-encoded.csv")

#####  Enantioselectivity

In [14]:
file = "enantioselectivity.txt"
path = "/ccs/proj/gen243/nina23bom/doc2vec/docvec_datasets/"
df = pd.read_csv(path+file)

In [15]:
df.head(2)

,name,sequence,e-value,is_train,m
0,EFB_1,MSAPFAKFPSSASISPNPFTVSIPDEQLDDLKTLVRLSKIAPPTYE...,35.0,True,4
1,DEF_1,MSAPFAKFPSSASISPNPFTVSIPDEQLDDLKTLVRLSKIAPPTYE...,73.0,True,6

In [16]:
encoded_df = sequence_tools.get_one_hot_encoding(df, ID_col="name")

The max sequence length is 398
Total of 152 sequences are encoded, with a length of 8358

In [17]:
encoded_df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,8348,8349,8350,8351,8352,8353,8354,8355,8356,8357
EFB_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DEF_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df.head(2)

,name,sequence,e-value,is_train,m
0,EFB_1,MSAPFAKFPSSASISPNPFTVSIPDEQLDDLKTLVRLSKIAPPTYE...,35.0,True,4
1,DEF_1,MSAPFAKFPSSASISPNPFTVSIPDEQLDDLKTLVRLSKIAPPTYE...,73.0,True,6

In [ ]:
y_col = 'e-value'